
body {
    background-color: #EDCBEA;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px;
}

.ex_types {
    display: flex;
}

footer {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 0 0 0;
    padding: 15px 0 0 0 ;
}


.rcorners {
    border-radius: 25px;
    background: #51A6F5;
    padding: 25px; 
    width: 430px;
    height: 150px;
    font-size: 400%;
    margin-bottom: 40px;
    border-style: inset;
    border-width: 10px;
}

h2 {
    font-weight: bold;
    text-align: center;
}


iframe {
    border-width: 10px;
    height: 500px;
}

#bpm {
    font-family: 'Merienda', cursive;
    font-size: 120px;
    font-weight: bolder;
    height: 50px;
    width: 1300px;
    border-radius: 25px;
    padding: 7px 0px;
}

#tc {
    height: 150px;
    padding-left: 30px;
    padding-top: 6px;
}

.carousel-inner    { 
    border-style: inset;
    border-width: 10px;
}

.carouselpic {
    height: 479px;
}

